

<h1>Cocktails </h1>


<div class='container'>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://fthmb.tqn.com/pngsFE0xnh6WsIk5SOBYhVJftkU=/2001x1498/filters:fill(auto,1)/alcohol-cocktails-58110d6b3df78c2c7317ba36.jpg');">
        <%= link_to "", cocktail_path(cocktail), class: 'card-link'%>
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
        </div>

      </div>
    </div>

    <% end %>
  </div>

</div>


  <div class="links">
    <%= link_to "create a new cocktail ", new_cocktail_path %>
  </div>





